body{margin: 20px auto;
    width: 50%;
    padding: 10px;
    border: 10px solide #0D8; 
    }
@charset;

.button_contenair{
    width: 100%;
    text-align: right ;
}
#button_modal{
    height: 5%;
    width: 50%;
    background-color: rgb(53, 245, 28);
    color:#ffffff;
    font-family:helvatica;
    font-size: 20px;
    border: none;
    cursor: pointer;
    margin-top: 8 %
}
#modal{
    height: 300%;
    width: 100%;
    
    font-family: Helvetica;
    text-align: center;
    
    padding-top: 5%;
    top: 0%
    
    
}